{% extends 'base.html.twig' %}

{% block body %}
    <section>
        todo : afficher les séries
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | Les meilleures series
{% endblock %}

